* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: rgb(64,64,64);
background: linear-gradient(90deg, rgba(64,64,64,1) 11%, rgba(0,116,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn {
  background-color: rgb(120, 164, 247);
  border: none;
  border-radius: 0.8em;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease;
  width: 100px;
  height: 30px;
}


@media (max-width: 480px) {
.btn {
  width: 80px;
  font-size: 10px;
}
}