.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.title{
  margin: 8px auto;
  color: white;
  text-align: center;
  border-bottom: 1px rgb(120, 164, 247) solid;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
    .product{
    display: grid;
    grid-template-columns: 1fr;
}
  }